:root {
  --color-dark: #353535;
  --color-sec: #3b6e6f;
  --color-white: #fefefe;
  --color-grey: #d9d9d9;
  --color-blue: #274b63;
}

/* Helper Classes: Start */
.height-contain{
  min-height: 100vh;
}

/* Font Helpers */
.font-roboto {
  font-family: 'Roboto', sans-serif!important;
}

.font-mont {
  font-family: 'Montserrat', sans-serif!important;
}

/* Background Color Helpers */
.bg-custom-dark {
  background-color: var(--color-dark)!important;
}
.bg-custom-sec {
  background-color: var(--color-sec)!important;
}
.bg-custom-white {
  background-color: var(--color-white)!important;
}
.bg-custom-grey {
  background-color: var(--color-grey)!important;
}
.bg-custom-blue {
  background-color: var(--color-blue)!important;
}


/* Font Color Helpers */
.text-custom-dark {
  color: var(--color-dark)!important;
}
.text-custom-sec {
  color: var(--color-sec)!important;
}
.text-custom-white {
  color: var(--color-white)!important;
}
.text-custom-grey {
  color: var(--color-grey)!important;
}
.text-custom-blue {
  color: var(--color-blue)!important;
}

.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}

/* Helper Classes: End */

/* Login page: start */

.login-div h1 {
  font-size: 30px;
  margin-bottom: 0;
}

.login-complete {
  border-radius: 6px;
}
.login-complete .flex-shrink-0 {
  border-radius: 6px 0 0 6px;
}
.login-complete .flex-grow-1 {
  border-radius: 0 6px 6px 0;
}

.login-complete img {
  width: 150px;
}

.login-details .form-group .form-control {
  background-color: var(--color-grey);
  border: 2px solid var(--color-dark);
  border-radius: 0 6px 6px 0;
  color: var(--color-dark);
  font-weight: 600;
}
.login-details .form-group .form-control:active,
.login-details .form-group .form-control:focus {
  box-shadow: none;
}

.login-details .input-group-text {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-grey);
  border: 2px solid var(--color-dark);
  border-radius: 6px 0 0 6px;
}

.login-details .forgot-pass {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-blue);
}

.login-details .btn-block {
  display: block;
  width: 100%;
  border-radius: 6px;
}
.login-details .btn-block:focus,
.login-details .btn-block:active {
  box-shadow: none;
}

/* Login Page: end */