:root {
  --color-dark: #353535;
  --color-sec: #3b6e6f;
  --color-white: #fefefe;
  --color-grey: #d9d9d9;
  --color-blue: #274b63;
  --color-light: #DEEEF7;
  --color-yellow: #FFC857;
  --color-light-blue: #D1DCDC;
}

/* Navbar: start */

.navbar {
  height: 60px;
  padding-top: 0;
}

.navbar-brand {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--color-white);
  font-size: 26px;
}
.navbar-brand img {
  position: relative;
}
.navbar-brand:hover {
  color: var(--color-white);
}

.sidebar-toggler {
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
}
.sidebar-toggler:hover {
  cursor: pointer;
  outline: none;
}
.sidebar-toggler:focus {
  outline: none;
  border: none;
}

.hamburger .line {
  background-color: var(--color-white);
  width: 30px;
  height: 2px;
  display: block;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(3) {
  width: 15px;
}

.hamburger.is-active .line:nth-child(2) {
  width: 25px;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateX(-9px) rotate(-45deg) translateY(4px);
  -ms-transform: translateX(-9px) rotate(-45deg) translateY(4px);
  -o-transform: translateX(-9px) rotate(-45deg) translateY(4px);
  transform: translateX(-9px) rotate(-45deg) translateY(4px);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateX(-9px) rotate(45deg) translateY(-5px);
  -ms-transform: translateX(-9px) rotate(45deg) translateY(-5px);
  -o-transform: translateX(-9px) rotate(45deg) translateY(-5px);
  transform: translateX(-9px) rotate(45deg) translateY(-5px);
}

/* Navbar: end */

/* Helper Classes: Start */
.height-contain {
  min-height: 100vh;
}

.width-fit {
  width: fit-content;
}

.everything-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Width Helpers */
.w-33 {
  width: 33%!important;
}
.w-40 {
  width: 40%!important;
}

.w-95{
  width:95% !important;
  transition: all 0.5s;
}

.w-hover-100:hover{
  transform: scale(1.05);
  background-color: var(--color-light-blue);
  transition: all 0.5s;
}
/* Radius Helpers */
.radius-1 {
  border-radius: 1px!important;
}
.radius-2 {
  border-radius: 2px!important;
}
.radius-3 {
  border-radius: 3px!important;
}
.radius-4 {
  border-radius: 4px!important;
}
.radius-5 {
  border-radius: 5px!important;
}
.radius-6 {
  border-radius: 6px!important;
}
.radius-round {
  border-radius: 50%!important;
}

.radius-top-1 {
  border-radius: 1px 1px 0 0!important;
}
.radius-top-2 {
  border-radius: 2px 2px 0 0!important;
}
.radius-top-3 {
  border-radius: 3px 3px 0 0!important;
}
.radius-top-4 {
  border-radius: 4px 4px 0 0!important;
}
.radius-top-5 {
  border-radius: 5px 5px 0 0!important;
}
.radius-top-6 {
  border-radius: 6px 6px 0 0!important;
}

.radius-bottom-1 {
  border-radius: 0 0 1px 1px!important;
}
.radius-bottom-2 {
  border-radius: 0 0 2px 2px!important;
}
.radius-bottom-3 {
  border-radius: 0 0 3px 3px!important;
}
.radius-bottom-4 {
  border-radius: 0 0 4px 4px!important;
}
.radius-bottom-5 {
  border-radius: 0 0 5px 5px!important;
}
.radius-bottom-6 {
  border-radius: 0 0 6px 6px!important;
}

.radius-left-1 {
  border-radius: 1px 0 0 1px!important;
}
.radius-left-2 {
  border-radius: 2px 0 0 2px!important;
}
.radius-left-3 {
  border-radius: 3px 0 0 3px!important;
}
.radius-left-4 {
  border-radius: 4px 0 0 4px!important;
}
.radius-left-5 {
  border-radius: 5px 0 0 5px!important;
}
.radius-left-6 {
  border-radius: 6px 0 0 6px!important;
}

.radius-right-1 {
  border-radius: 0 1px 1px 0!important;
}
.radius-right-2 {
  border-radius: 0 2px 2px 0!important;
}
.radius-right-3 {
  border-radius: 0 3px 3px 0!important;
}
.radius-right-4 {
  border-radius: 0 4px 4px 0!important;
}
.radius-right-5 {
  border-radius: 0 5px 5px 0!important;
}
.radius-right-6 {
  border-radius: 0 6px 6px 0!important;
}

/* Font Helpers */
.font-roboto {
  font-family: "Roboto", sans-serif !important;
}

.font-mont {
  font-family: "Montserrat", sans-serif !important;
}

.font-muli {
  font-family: muli, sans-serif!important;
}

.font-0-5x {
  font-size: 0.5rem;
}
.font-0-6x{
  font-size: 0.6rem;
}
.font-0-65x{
  font-size: 0.65rem;
}
.font-0-75x {
  font-size: 0.75rem;
}
.font-0-8x {
  font-size: 0.8rem;
}
.font-1-1x {
  font-size: 1.1rem;
}
.font-1-25x {
  font-size: 1.25rem;
}
.font-1-5x {
  font-size: 1.5rem;
}
.font-1-75x {
  font-size: 1.75rem;
}
.font-2x {
  font-size: 2rem;
}

/* Background Color Helpers */
.bg-custom-dark {
  background-color: var(--color-dark) !important;
}
.bg-custom-sec {
  background-color: var(--color-sec) !important;
}
.bg-custom-white {
  background-color: var(--color-white) !important;
}
.bg-custom-grey {
  background-color: var(--color-grey) !important;
}
.bg-custom-blue {
  background-color: var(--color-blue) !important;
}
.bg-custom-light {
  background-color: var(--color-light) !important;
}
.bg-custom-yellow {
  background-color: var(--color-yellow) !important;
}
.bg-custom-light-blue {
  background-color: var(--color-light-blue) !important;
}

/* Font Color Helpers */
.text-custom-dark {
  color: var(--color-dark) !important;
}
.text-custom-sec {
  color: var(--color-sec) !important;
}
.text-custom-white {
  color: var(--color-white) !important;
}
.text-custom-grey {
  color: var(--color-grey) !important;
}
.text-custom-blue {
  color: var(--color-blue) !important;
}
.text-custom-light {
  color: var(--color-light) !important;
}
.text-custom-yellow {
  color: var(--color-yellow) !important;
}
.text-custom-light-blue {
  color: var(--color-light-blue) !important;
}

.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}

/* Border helpers */
.border-1-blue {
  border: 1px solid var(--color-blue);
}
.border-2-blue {
  border: 2px solid var(--color-blue);
}

.border-1-dark {
  border: 1px solid var(--color-dark);
}
.border-2-dark {
  border: 2px solid var(--color-dark);
}

.border-1-sec {
  border: 1px solid var(--color-sec);
}
.border-2-sec {
  border: 2px solid var(--color-sec);
}

/* Helper Classes: End */

/* Login page: start */

.login-div h1 {
  font-size: 30px;
  margin-bottom: 0;
}

.login-complete {
  border-radius: 6px;
}
.login-complete .flex-shrink-0 {
  border-radius: 6px 0 0 6px;
}
.login-complete .flex-grow-1 {
  border-radius: 0 6px 6px 0;
}

.login-complete img {
  width: 150px;
}

.login-details .form-group .form-control {
  background-color: var(--color-grey);
  border: 2px solid var(--color-dark);
  border-radius: 0 6px 6px 0;
  color: var(--color-dark);
  font-weight: 600;
}
.login-details .form-group .form-control:active,
.login-details .form-group .form-control:focus {
  box-shadow: none;
}

.login-details .input-group-text {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-grey);
  border: 2px solid var(--color-dark);
  border-radius: 6px 0 0 6px;
}

.login-details .forgot-pass {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-blue);
}

.login-details .btn-block {
  display: block;
  width: 100%;
  border-radius: 6px;
}
.login-details .btn-block:focus,
.login-details .btn-block:active {
  box-shadow: none;
}

/* Login Page: end */

/* Accordion: Start */

.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: var(--color-white);
  color: var(--color-dark);
  font-weight: 700;
}
.accordion-button:focus,
.accordion-button:active {
  box-shadow: none!important;
  outline: none!important;
  border: none!important;
}
.accordion-button::after {
  display: none;
}

/* Accordion: End */

/* Dashboard: start */

.dashboard {
  padding-top: 60px;
  min-height: 100vh;
  height: 1px;
}

.wrapper {
  min-height: 100%;
  height: 1px;
  display: flex;
  align-items: stretch;
  position: relative;
  overflow: hidden;
}

#sidebar {
  position: relative;
  min-height: 100%;
  min-width: 0px;
  width: 0px;
  max-width: 250px;
  background-color: var(--color-dark);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--col-grey);
  overflow-x: hidden;
  white-space: nowrap;
}
#sidebar.is-active {
  min-width: 300px;
  width: 300px;
}

#content {
  overflow-y: auto;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  position: relative;
}

.details-image img {
  background-color: var(--color-sec);
  border-radius: 50%;
  max-width: 200px;
  width: 100%;
  height: auto;
}

/* Dashboard: end */


@media (max-width: 991.98px) {
  
  .hamburger .line:nth-child(1),
  .hamburger .line:nth-child(3){
    width: 15px;
  }

  .hamburger .line:nth-child(2) {
    width: 25px;
  }

  .hamburger .line:nth-child(1){
    -webkit-transform: translateX(-9px) rotate(-45deg) translateY(4px);
    -ms-transform: translateX(-9px) rotate(-45deg) translateY(4px);
    -o-transform: translateX(-9px) rotate(-45deg) translateY(4px);
    transform: translateX(-9px) rotate(-45deg) translateY(4px);
  }

  .hamburger .line:nth-child(3){
    -webkit-transform: translateX(-9px) rotate(45deg) translateY(-5px);
    -ms-transform: translateX(-9px) rotate(45deg) translateY(-5px);
    -o-transform: translateX(-9px) rotate(45deg) translateY(-5px);
    transform: translateX(-9px) rotate(45deg) translateY(-5px);
  }

  .hamburger.is-active .line {
    width: 30px!important;
    height: 2px;
    display: block;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: none!important;
    -ms-transform: none!important;
    -o-transform: none!important;
    transform: none!important;
  }

  #sidebar.is-active {
    min-width: 0;
    width: 0;
  }
  #sidebar {
    position: absolute;
    min-width: 300px;
    width: 300px;
  }
}
